
<div class="control-section">
  <ejs-spreadsheet #default [openUrl]="openUrl" [saveUrl]="saveUrl" (created)="created()">
      <e-sheets>
          <e-sheet name="Budget">
              <e-ranges>
                  <e-range [dataSource]="data"></e-range>
              </e-ranges>
              <e-rows>
                  <e-row [index]="12">
                      <e-cells>
                          <e-cell [index]="3" value="Total Income:"></e-cell>
                          <e-cell formula="=SUM(B2:B6)"></e-cell>
                      </e-cells>
                  </e-row>
                  <e-row [index]="13">
                    <e-cells>
                        <e-cell [index]="3" value="Total Expense:"></e-cell>
                        <e-cell formula="=SUM(D2:D6)"></e-cell>
                    </e-cells>
                </e-row>
                <e-row [index]="14">
                  <e-cells>
                      <e-cell [index]="3" value="Total Amount:"></e-cell>
                      <e-cell formula="=E13-e14"></e-cell>
                  </e-cells>
              </e-row>
              </e-rows>
              <e-columns>
                  <e-column [width]=180></e-column>
                  <e-column [width]=130></e-column>
                  <e-column [width]=130></e-column>
                  <e-column [width]=180></e-column>
                  <e-column [width]=130></e-column>
                  <e-column [width]=120></e-column>
              </e-columns>
          </e-sheet>
      </e-sheets>
  </ejs-spreadsheet>
</div>
